
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fredoka+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}
body{
    background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url( "oscar-keys-ojVMh1QTVGY-unsplash.jpg") center no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
.wrapper {
    width: 100%;
    margin-top: 130px;
    padding: 2rem;
    color: #fff;
}

.wrapper h2 {
   font-family: sans-serif !important;
    text-align: center;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.wrapper h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 10%;
    color: #fff;
    height: 10px;
    text-align: center;
    background: #fff;
    display: block;
}

.form {
    font-family: unset !important;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

label:hover {
    cursor: pointer;
}

input {
    width: 50%;
    height: 30px;
    padding: 1rem 0.8rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    box-shadow: 1px 2px 3px 0px #c5f58e;
    transition: box-shadow 0.5s ease-in-out;
}

input:focus {
    outline: none;
    background-color: rgb(15, 17, 19);
    color: #fff;
    border: none;
    box-shadow: none;
}

/* .naming{
      margin:15px auto;
  } */
label {
    font-size: 20px;
	font-family:unset !important;
}

.naming input {
    margin: 10px;
}

.Email input {
    margin: 10px;
}

.Phone-no input {
    margin: 10px;
}

.team-name input {
    margin: 10px;
}

.naming label {
    margin-left: 10px;
}

.Email label {
    margin-left: 10px;
}

.Phone-no label {
    margin-left: 10px;
}

.team-name label {
    margin-left: 10px;
}


.my-submitbtn {
    display: block;
    margin: 20px auto;
    width: 35%;
    padding: 10px;
    font-size: 1.5rem;
    background: transparent;
    outline: 2px solid #fff;
    border: none;
    border-radius: 0px;
    color: #fff;
    transition: background, 0.5s ease-in-out;
}

.my-submitbtn:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    outline: none;
}



@media screen and (max-width: 800px) {
    input {
        width: 70%;
    }

    .my-submitbtn {
        width: 70%;
    }
    .wrapper h2::after {
       width: 30%;
  }
}

@media screen and (max-width: 500px) {
    input {
        width: 90%;
    }

    .my-submitbtn {
        width: 90%;
    }
    .wrapper h2::after {
       width: 40%;
  }
}



/*social*/
.social{
	text-align: center;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-top: 10px;
}
.social ul{
	display: flex;
	padding-left:0;
}
.social ul a{
    position: relative;
	display: block;
	color: white;
	font-size: 30px;
	height: 60px;
	width: 60px;
	background: #171515;
	line-height: 60px;
	border-radius: 50%;
	margin: 0 15px;
	cursor: pointer;
	transition: 0.5s;
}
.social ul a:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.9);
	transition: 0.5s;
}
.social ul a:nth-child(1):before{
	background: 4267B2;
}
.social ul a:nth-child(2):before{
	background: 4267B2;
}
.social ul a:nth-child(3):before{
	background: 4267B2;
}
.social ul a:nth-child(4):before{
	background: 4267B2;
}
.social ul a:nth-child(5):before{
	background: 4267B2;
}
.social ul a:hover:before{
	filter: blur(3px);
	transform: scale(1.2);
}
.social ul a:nth-child(1):hover:before{
	box-shadow: 0 0 15px #4267B2;
}
.social ul a:nth-child(2):hover:before{
	box-shadow: 0 0 15px #1DA1F2;
}
.social ul a:nth-child(3):hover:before{
	box-shadow: 0 0 15px #E1306C;
}
.social ul li:nth-child(4):hover:before{
	box-shadow: 0 0 15px #2867B2;
}
.social ul li:nth-child(5):hover:before{
	box-shadow: 0 0 15px #ff0000;
}
.social ul a:nth-child(1):hover{
	color: #456cba;
	box-shadow: 0 0 15px #4267B2;
	text-shadow: 0 0 15px #4267B2;
}
.social ul a:nth-child(2):hover{
	color: #26a4f2;
	box-shadow: 0 0 15px #1DA1F2;
	text-shadow: 0 0 15px #1DA1F2;
}
.social ul a:nth-child(3):hover{
	color: #e23670;
	box-shadow: 0 0 15px #E1306C;
	text-shadow: 0 0 15px #E1306C;
}
.social ul a:nth-child(4):hover{
	color: #2a6cbb;
	box-shadow: 0 0 15px #2867B2;
	text-shadow: 0 0 15px #2867B2;
}
.social ul a:nth-child(5):hover{
	color: #ff1a1a;
	box-shadow: 0 0 15px #ff0000;
	text-shadow: 0 0 15px #ff0000;
}







.logo{
    z-index: 5000;
    position: absolute;
	top: -15px;
	left: 0;
}
.logo img{
    width: 205px;
    height: 180px;
    opacity: 1;
} 





/* NAVBAR */
label .menu {
    position: absolute;
    right: 0px;
    top: -70px;
    z-index: 100;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
}
label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: rgb(231, 221, 221);
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}
label .hamburger:before {
    top: -10px;
}
label .hamburger:after {
    bottom: -10px;
}
label input {
    display: none;
}
label input:checked + .menu {
    box-shadow: 0 0 0 100vw rgb(0, 0, 0), 0 0 0 100vh rgb(0, 0, 0);
    border-radius: 0;
}
label input:checked + .menu .hamburger {
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
}
label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
    background: rgb(255, 255, 255);
}
label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
    
}
label input:checked + .menu + ul {
    z-index: 2000;
    opacity: 1;
}
label input:checked + .menu {
    background: rgb(0, 0, 0);
}
label input:checked + .hamburger {
    background:#000;
}
label input:checked + .root{
    position: absolute;
    height: 120vh;
    background: rgb(211, 10, 10) !important;
}
label ul {
    margin-top: 30px;
    font-family: 'Fredoka One', cursive !important;
    z-index: -500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
    list-style:none;
    /* height: 120vh;
    width: 100vw; */
}
label ul li{
    margin-bottom: 40px;
}
label ul li a {
    margin-bottom: 1em;
    display: block;
    color: #fff;
    text-decoration: none;
   
}
label ul li a span{
    color:#fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}
label a span:hover{
    transition: background-color 0.3s ease-in;
    color: #fff;
    border-radius: 10%;
    background-color:rgb(214, 12, 12) ;
}
label,input{
	font-family:unset !important ;
}
